body {
    background-color: white;
    min-height: 100vh;
    font: normal 16px sans-serif;
    padding: 0px 0;
    width: 100%;
    margin: 0 auto;
}

h1 {
  padding-top: 10px;
  color: #0F1626;
  text-align: center;
}

/*forked ends of ribbon navigation bar*/
.ribbon:after, .ribbon:before {
  margin-top:0.5em;
  content: "";
  float:left;
  border:1.5em solid #FF533D;
}

.ribbon:after {
  border-right-color:transparent;
}

.ribbon:before {
  border-left-color:transparent;
}

/*links in ribbon navigation bar*/
.ribbon a:link, .ribbon a:visited {
  color:#F5F5F5;
  text-decoration:none;
  float:left;
  height:3.5em;
  overflow:hidden;
}

/*animated folds in Ribbon Navigation bar*/
.ribbon span {
  background:#FF533D;
  display:inline-block;
  line-height:3em;
  padding:0 1em;
  margin-top:0.5em;
  position:relative;
  transition: background-color 0.2s, margin-top 0.2s;
}

.ribbon a:hover span {
  background:#0F1626;
  margin-top:0;
}

.ribbon span:before {
  content: "";
  position:absolute;
  top:3em;
  left:0;
  border-right:0.5em solid #0F1626;
  border-bottom:0.5em solid#FF533D;
}

.ribbon span:after {
  content: "";
  position:absolute;
  top:3em;
  right:0;
  border-left:0.5em solid #0F1626;
  border-bottom:0.5em solid#FF533D;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing:border-box;
}

body {
	margin: 0;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #F5F5F5;
	background-color: #F5F5F5;
}

.container {
	margin: 0 auto;
	width: 100%;
	height: 100vh;
	background-color: white;
}

/* Useful Classes */
.xy-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.transition {
	transition: all 350ms ease-in-out;
}

.r-3-2 {
	width: 100%;
	padding-bottom: 66.667%;
	background-color: #ddd;
}

.image-holder {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* Main Styles */
.gallery-wrapper {
	position: relative;
	overflow: hidden;
}

.gallery {
	position: relative;
	white-space: nowrap;
	font-size: 0;
}

.item-wrapper {
	cursor: pointer;
	width: 23%; /* arbitrary value */
	display: inline-block;
	background-color: white;
}

.gallery-item { opacity: 0.5;
}
.gallery-item.active { opacity: 1; }

.controls {
	font-size: 0;
	border-top: none;
}
.move-btn {
	display: inline-block;
	width: 50%;
	border: none;
  color: #ccc;
	background-color: transparent;
	padding: 0.2em 1.5em;
}
.move-btn:first-child {border-right: none;}
.move-btn.left  { cursor: w-resize; }
.move-btn.right { cursor: e-resize; }
