body {
    background-color: white;
    min-height: 100vh;
    font: normal 16px sans-serif;
    padding: 0px 0;
    width: 100%;
    margin: 0 auto;
}

h1 {
  color: #0F1626;
  align: left;
  margin-left: 40px;

}

.ribbon {
  padding-top: 10px;
  margin-left: 40px;
}
/*forked ends of ribbon navigation bar*/
.ribbon:after, .ribbon:before {
  margin-top:0.5em;
  content: "";
  float:left;
  border:1.5em solid #FF533D;
}

.ribbon:after {
  border-right-color:transparent;
}

.ribbon:before {
  border-left-color:transparent;
}

/*links in ribbon navigation bar*/
.ribbon a:link, .ribbon a:visited {
  color:#F5F5F5;
  text-decoration:none;
  float:left;
  height:3.5em;
  overflow:hidden;
}

/*animated folds in Ribbon Navigation bar*/
.ribbon span {
  background:#FF533D;
  display:inline-block;
  line-height:3em;
  padding:0 1em;
  margin-top:0.5em;
  position:relative;
  transition: background-color 0.2s, margin-top 0.2s;
}

.ribbon a:hover span {
  background:#0F1626;
  margin-top:0;
}

.ribbon span:before {
  content: "";
  position:absolute;
  top:3em;
  left:0;
  border-right:0.5em solid #0F1626;
  border-bottom:0.5em solid#FF533D;
}

.ribbon span:after {
  content: "";
  position:absolute;
  top:3em;
  right:0;
  border-left:0.5em solid #0F1626;
  border-bottom:0.5em solid#FF533D;
}

/* Gallery set up */
.container.gallery-container {
    background-color: #f5f5f5;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .large img {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.big img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.little img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.little img {
    width: 45%;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 0px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.big img {
  width: 95%;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 0px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}
